body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
    box-sizing: border-box;
    
}

nav {
    font-family: 'Comfortaa', cursive;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 1vw;
    width: 100vw;
    height: 8vh;
    /* border: solid 2px grey; */
    background-color: white;
}

nav h1{
    padding-left: 9vw;
}


nav ul{
    display: flex;
    list-style-type: none;
    padding-right: 5vw;

}

button{
    background: none !important;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

.show-all-comments{
    color: darkblue;
}

.show-all-comments:hover{
    color:black;
}



li{
    margin: 1vh 1vw;
}

body * {
    box-sizing: border-box;
}

.logo {
    font-size: 1em;
    font-weight: normal;
}

aside, body > header {
    /* border: solid 1px #000; */
    font-family: monospace;
}
main {
    margin-top: 8vh;
}
.news-feed{
    padding-top:1vh;
    /* border: solid 1px #000; */
    width: 60vw;
    height:100vh;
    
    
}

/* Aside Section */
aside{
    font-family: 'Comfortaa', cursive;
    position: fixed;
    top: 95;
    left: 60vw;
    width: 40vw;
    height: 92vh;
    padding-left: 5vw;
    overflow-y: auto;
    

}

/* User section (Top of aside section) */
.user-section, .suggestion-list, .story-list, .modal-section{
    display: flex;
    align-items: center;
    list-style-type: none;
    
}

.logged-user, .follow, .user{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-pfp, .story-pfp{
    border-radius: 50%;
    border-color: grey;
}

.story-pfp{
    border: solid 2px #d7d7d7;
    
}

/* Suggestion List, (Below User Section) */


/* news-feed */

.stories, .card{
    background-color: white;
    margin-left: 5vw;
    
   
}

.stories{
    justify-content: left;
    overflow: hidden;
    overflow-x: auto;
    
}



.story{
    padding-top: 1vh;
    padding-left: 1vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width:auto;
    height: auto;
    overflow: hidden;
}

.story:first-child{
    padding-left: 0;
    padding-top: 1vh;
}


/* Card CSS */

.post{
    list-style-type: none;
    padding: 0;

}
.post-img{
    width:100%
}
.pic-post{
    margin: 0;
    padding: 0;
}

.post-head{
    font-size: 20pt;
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom: 0;
    margin-left: 5vw;
    margin-right: 5vw;
    
}
.post-des,.comment-block, .post-date, .likes, .show-all-comments{
    width: 85%;
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
}

.post-user{
    padding-right: 1vw;
}
a{
    text-decoration: none;
}
.comment-block, .post-date, .show-all-comments{
    padding-bottom: 1vh;
}
.show-all-comments{
    cursor: pointer;
    margin-left: 7vw;
}
.comments{
    margin:0;
    padding:0;
    border-bottom: solid 1px #d7d7d7;
}

.description{
    /* white-space: nowrap; */
    /* overflow: hidden; */
    text-overflow: ellipsis;
}


.post-date{
    color: grey;
}

.icons-list{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 1vh;
    padding-bottom: 1vh;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 20pt;
}


.post-footer{
    font-size: 20pt;
    margin-left: 5vw;
    display: flex;
    align-items: center;
    padding-bottom: 2vh;
    padding-right: 2vw;
    margin-top: 2vh;
    
}



.add-comment{
    display: flex;
    align-items: center;
    width: 89%;
}

.add-comment input{

    width: 95%;
    margin-left: 1.5vw;
    border:none;
    font-size: 17pt
}

a i, a:hover, a li, a b{
    color: black;
}

i{
    padding-right: .5vw;
}

a{
    color: darkblue;
}

.hidden{
    display: none !important;
}

.modal-bg{
    background: rgba(50, 50, 50, 0.8);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal-img{
    display: flex;
    height: 80vh;
    width: 60vw;

}

.modal-post{
    display:flex;
    flex-direction: row;
    width: 90vw;
    margin: 10%;
    justify-content: center;
    align-content: center;

}

.modal-des{
    width:30vw;
    margin: 0;
    padding: 0;
    border-bottom: solid 2px #d7d7d7;
}


.close-modal {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position:fixed;
    top: 5vh;
    left: 90vw;

    cursor: pointer;
    color: white;

}

.close-modal :hover{
    color:grey;
}

.modal-text{
    height:80vh;
    width:30vw;
    background-color:#f2f2f2;
    overflow: hidden;
    overflow-y: scroll;
}

.modal-comments{
    display: flex;
    flex-direction: column;
}

.modal-comment-block{
    padding: 1vw 1vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    
}

.modal-post-user{
    padding-right: 1vw;
    padding-left: 1vw;
}

.modal-user-pfp{
    height: 25px;
    width: 25px;
    border-radius: 50%;

}





/* Media queries */
@media (max-width: 1400px) {
    aside{
        display: none;
    }
    .news-feed{
        width: 100vw;
        padding-right: 5vw;
    }

    .add-comment input{
        font-size: 14pt
    }
    .post-footer{
    font-size: 16pt;
    }
    .icons-list{
        font-size: 16pt;
    }
    .post-head{
        font-size: 16pt; 
    }
    nav h1{
        font-size: 15pt;
    }

    .modal-img{
        display: none;
    }

    .modal-text{
        width: 90vw;
    }
    .modal-des{
        width:90vw;
    }
}

@media (max-width: 800px){
    .add-comment input{
        font-size: 11pt
    }
    .post-footer{
    font-size: 13pt;
    }
    .icons-list{
        font-size: 13pt;
    }
    .post-head{
        font-size: 13pt; 
    }
    nav h1{
        font-size: 13pt;
    }

    .user{
        font-size: 10pt;
        text-align: center;
        text-decoration: none;
        display:block;
        overflow: hidden;
    }
    
    .user-pfp, .story-pfp{
        margin: 0 auto;
        display: block;
        overflow:hidden;
        width: 40px;
        height: 40px;
        
        
    }
    .story-list{
        padding: 0;
    }

}

@media (max-width: 420px){
    nav ul{
        padding-right: 0vw;
    
    }
    .user{
        font-size: 8pt;
    }
}



